<section class="container mx-auto px-4 py-4 header">
    <div class="flex items-center justify-between w-full ">
      <!-- Título -->
      <h2 class="text-2xl font-medium title" (click)="navigateToHome()">Horta comunitária</h2>

      <!-- Menu de navegação -->
      <nav class="flex flex-row items-center md:px-88 nav_expanded">
        <ul class="flex flex-col md:flex-row">
          <li class="mx-4">
            <a routerLink="/compra/outros" routerLinkActive="active" class="text-slate-500 font-light list-item" >Descontos</a>
          </li>
          <li class="px-4">
            <a routerLink="/compra" routerLinkActive="active" class="text-slate-500 font-light list-item" [routerLinkActiveOptions]="{ exact: true }">Ofertas</a>
          </li>
          <li class="px-4">
            <a routerLink="/compra/legumes" routerLinkActive="active" class="text-slate-500 font-light list-item">Legumes</a>
          </li>
          <li class="px-4">
            <a routerLink="/compra/verduras" routerLinkActive="active" class="text-slate-500 font-light list-item">Vegetais</a>
          </li>
          <li class="px-4">
            <a routerLink="/compra/frutas" routerLinkActive="active" class="text-slate-500 font-light list-item">Frutas</a>
          </li>
        </ul>
      </nav>


      <!-- Ícones -->
      <div class="options_buttons items-center space-x-4">
        <p-button icon="pi pi-shopping-cart" [rounded]="true" [text]="true" severity="success" (onClick)="navigateToCart()" />
        <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="success"  (onClick)="navigateToUser()"  />
      </div>

      <!-- Ícones -->
      <div class="bar_button items-center space-x-4">
        <p-button icon="pi pi-bars" [rounded]="true" [text]="true" severity="success" (onClick)="openDetailMenu()" />
      </div>
    </div>
</section>

<section class="w-full h-1/5 flex justify-center items-center absolute menu_mobile top-24" [ngClass]="{'hidden': !isMenuOpen}">
  <div class="bg-white w-full menu_mobile_item pl-4" [ngClass]="{ 'hide-up': !isMenuOpen }" >
    <!-- Menu de navegação -->
    <nav class="flex flex-col items-baseline">
      <ul class="flex flex-col w-full ">
        <li class="mx-4 pt-2 list-item">
          <a routerLink="/descontos" routerLinkActive="active" class="text-slate-500 text-xl font-light">Descontos</a>
        </li>
        <li class="px-4 pt-2 list-item">
          <a routerLink="/compra" routerLinkActive="active" class="text-slate-500 text-xl font-light">Ofertas</a>
        </li>
        <li class="px-4 pt-2 list-item">
          <a routerLink="/legumes" routerLinkActive="active" class="text-slate-500 text-xl font-light">Legumes</a>
        </li>
        <li class="px-4 pt-2 list-item">
          <a routerLink="/vegetais" routerLinkActive="active" class="text-slate-500 text-xl font-light">Vegetais</a>
        </li>
        <li class="px-4 pt-2 list-item">
          <a routerLink="/frutas" routerLinkActive="active" class="text-slate-500 text-xl font-light">Frutas</a>
        </li>
      </ul>
    </nav>


    <!-- Ícones -->
    <div class="items-center space-x-4 ">
      <p-button icon="pi pi-shopping-cart" [rounded]="true" [text]="true" severity="success" (onClick)="navigateToCart()" class="btn-bar" />
      <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="success"  class="btn-bar"  />
    </div>
  </div>
</section>



