@use "../../../styles.scss" as *;

section {
  .header {
    @include flex-center;
    justify-content: space-around;
    box-shadow: 5px 0 15px 8px #d7d7d7d7;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
  }

  .title{
    cursor: pointer;
    user-select: none;
  }

  a {
    text-decoration: none;
    color: black;
    @include roboto-thin;
  }

  h2 {
    @include roboto-bold;
    color: #81c408;
  }

  .bar_button{
    display: none;
  }
  
  .options_buttons{
    display: flex;
  }

  .menu_mobile_item{
    display: none;
  }

  .nav_expanded{
    display: block;
  }

  .menu_mobile {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: auto;
    box-shadow: 1px 7px 5px -2px rgba(148,148,148,0.75);
  }

.list-item {
  transition: color 0.3s ease;

  &:hover, &:active, &.active {
    color: #81c408 !important;
    font-weight: 600; 
    border-bottom: #81c408 2px solid;
  }
}


  @media (max-width: 768px) {
    .md\:px-88 {
      padding-left: 22rem; 
      padding-right: 22rem;
    }

    .bar_button{
      display: flex;
    }

    .options_buttons{
      display: none;
    }

    .menu_mobile_item {
      display: block;
      opacity: 0;
      transform: translateY(-20px);
      animation: show 0.5s ease forwards;
      pointer-events: auto;
      box-shadow: 1px 7px 5px -2px rgba(187, 187, 187, 0.75);
    }

    .menu_mobile_item.hide-up {
      animation: hide 0.5s ease forwards;
    }


    .nav_expanded{
      display: none;
    }
  }
  
}

::ng-deep .btn-bar .p-button{
  width: 4rem !important;
  height: 4rem !important;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

