<section>
  <div class="w-full bg-white ">
    <div class="container mx-auto flex items-center justify-around py-4">
      <!-- Título -->
      <h2 class="text-2xl font-medium ">Horta comunitária</h2>

      <!-- Menu de navegação -->
      <nav class="flex flex-row items-center md:px-88">
        <ul class="flex flex-col md:flex-row">
          <li class="mx-4">
            <a href="/descontos" class="text-black font-light">Descontos</a>
          </li>
          <li class="px-4">
            <a href="/ofertas" class="text-black font-light">Ofertas</a>
          </li>
          <li class="px-4">
            <a href="/legumes" class="text-black font-light">Legumes</a>
          </li>
          <li class="px-4">
            <a href="/vegetais" class="text-black font-light">Vegetais</a>
          </li>
          <li class="px-4">
            <a href="/frutas" class="text-black font-light">Frutas</a>
          </li>
        </ul>
      </nav>

      <!-- Ícones -->
      <div class="flex items-center space-x-4">
        <p-button icon="pi pi-shopping-cart" [rounded]="true" [text]="true" severity="success" />
        <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="success" />
      </div>
    </div>
  </div>
</section>

<div>
  <router-outlet></router-outlet>
</div>


