@use "../../../styles.scss" as *;

section {
  .header {
    @include flex-center;
    // background-color: rebeccapurple;
    justify-content: space-around;
    box-shadow: 5px 0 15px 8px #d7d7d7d7;
    // z-index: 100;
    width: 100%;
    height: 7%;
    // position: fixed;
    top: 0;
    left: 0;
  }

  a {
    text-decoration: none;
    color: black;
    @include roboto-thin;
  }

  h2 {
    @include roboto-bold;
    color: #81c408;
  }

  @media (min-width: 768px) {
  .md\:px-88 {
    padding-left: 22rem; /* 352px */
    padding-right: 22rem; /* 352px */
  }
}
}
