@use "../../../styles" as *;

section {
  // height: 100%;
  // width: 100%;

  .text-primary {
    color: #81c408 !important;
  }

  .sectionBanner {
    background-color: #ffb524;
  }

  .image-header {
    // background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../../../assets/images/hero-img.jpg);
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(223 221 219 / 71%)),
      url(../../../assets/images/fruits3.jpg);
    // background: linear-gradient(rgb(255 255 255 / 93%), rgb(223 221 219 / 71%)), url(../../../assets/images/fruits2.jpg);
    // background: linear-gradient(rgba(238, 231, 218, 0.671), rgba(223, 221, 219, 0.438)), url(../../../assets/images/fruits.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h4 {
    color: #ffb524;
    @include roboto-bold;
  }

  h1 {
    @include roboto-bold;
    color: #81c408;
  }

  .text-primary {
    color: #81c408 !important;
  }

  .btn-custom {
    background-color: #f4f6f8 !important;
  }

  h2 {
    @include roboto-bold;
    color: #45595b;
  }

  span {
    @include roboto-regular;
    color: #78838c;
  }

  h5 {
    @include roboto-medium;
    color: #45595b;
  }

  .title {
    @include flex-center;
  }

  .text-light {
    color: white !important;
  }

  .subtitle {
    @include flex-center;
  }

  .container-cards-info {
    @include flex-center;
    text-align: center;

    .pi {
      color: white;
      font-size: 2.3rem;
    }

    p {
      @include roboto-bold;
      color: white;
      font-size: 1.2rem;
    }

    .card-info {
      background-color: #81c408;
      height: 10rem;
      width: 22rem;
      margin-right: 1rem;
      flex-direction: column-reverse;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .mid-section {
    flex-wrap: nowrap;
  }


  .card-benefit {
    i {
      color: #81c408;
    }
  }
}


::ng-deep .btn-custom .p-button {
  background-color: #81c408 !important;
  color: white;
  border: 1px solid #81c408 !important;

  &:hover {
    background-color: #80a046 !important;
    border: 1px solid #80a046 !important;
  }
}

