@import "../../../styles.scss";

section {
  // height: 100%;
  // width: 100%;

  .text-primary {
    color: #81c408 !important;
  }

  .btn-success {
    background-color: #81c408 !important;
    border-color: #81c408 !important;
  }

  .btn-success:hover {
    background-color: #80a046 !important;
    border-color: #80a046 !important;
  }

  .sectionBanner {
    background-color: #ffb524;
    .banner {
      @include flex-center;

      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-gap {
      gap: 10rem !important;
      justify-content: center;
    }
  }

  .image-header {
    // background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../../../assets/images/hero-img.jpg);
    background: linear-gradient(rgb(255 255 255 / 93%), rgb(223 221 219 / 71%)),
      url(../../../assets/images/fruits3.jpg);
    // background: linear-gradient(rgb(255 255 255 / 93%), rgb(223 221 219 / 71%)), url(../../../assets/images/fruits2.jpg);
    // background: linear-gradient(rgba(238, 231, 218, 0.671), rgba(223, 221, 219, 0.438)), url(../../../assets/images/fruits.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h4 {
    color: #ffb524;
    @include roboto-medium;
  }

  h1 {
    @include roboto-bold;
    color: #81c408;
  }

  .card-horizontal {
    width: 400px;
    background-color: #f4f6f8;
    border-color: #f4f6f8;

    .custom-image-radius {
      border-radius: 50%;
      width: 12rem;
      padding: 1rem;
    }
  }

  .text-primary {
    color: #81c408 !important;
  }

  .btn-custom {
    background-color: #f4f6f8 !important;
  }

  h2 {
    @include roboto-bold;
    color: #45595b;
  }

  span {
    @include roboto-regular;
    color: #78838c;
  }

  h5 {
    @include roboto-medium;
    color: #45595b;
  }

  .title {
    @include flex-center;
  }

  .text-light {
    color: white !important;
  }

  .subtitle {
    @include flex-center;
  }

  .container-cards-info {
    @include flex-center;
    text-align: center;

    .pi {
      color: white;
      font-size: 3rem;
    }

    p {
      @include roboto-bold;
      color: white;
      font-size: 1.2rem;
    }

    .card-info {
      background-color: #93c732;
      height: 12rem;
      width: 26rem;
      // border-radius: 4px;
      margin-right: 1rem;
      flex-direction: column-reverse;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .mid-section {
    flex-wrap: nowrap;
  }

  .view-products-container {
    overflow-x: hidden;

    .view-products {
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
    }

    @media screen and (max-width: 768px) {
      .view-products {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}