<section class="container mx-auto px-4 py-4">
  <div class="bg-white rounded-2xl shadow-sm border-2 p-6 mb-10 flex flex-col md:flex-row items-center gap-6" 
       style="border: 1px solid #b8d88491;">
    
    <div class="p-4 rounded-full shadow-sm" style="background-color: #ffb524;">
      <i class="pi pi-user text-white text-2xl"></i>
    </div>
    
    <div class="flex-1 grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
      <div>
        <label class="text-[10px] uppercase font-bold text-slate-400">Código de Segurança</label>
        @for (item of this.resultOrder; track $index) {
        <div class="flex items-center gap-2 font-mono font-bold" style="color: #5d8c1a;">
            <span>Vendedor: {{item.sellerName}}</span>
            <span>Codigo: {{item.securityCode}}</span>
            <button class="hover:opacity-70 transition"><i class="pi pi-copy text-xs" style="color: #ffb524;"></i></button>
          </div>
        }
      </div>
      <div>
        <label class="text-[10px] uppercase font-bold text-slate-400">E-mail</label>
        <p class="text-sm text-slate-700 truncate font-medium">{{customerData[0].email}}</p>
      </div>
      <div>
        <label class="text-[10px] uppercase font-bold text-slate-400">Telefone</label>
        <p class="text-sm text-slate-700 font-medium">{{customerData[0].phone}}</p>
      </div>
    </div>
  </div>

  <div class="pb-5">
    <p class="text-amber-800 font-bold">Atenção!</p>
    <p class="text-amber-700 text-sm mt-1">
      Verifique se você recebeu a mensagem no WhatsApp ou E-mail. 
      Caso não tenha recebido, <strong> Tire um print ou copie o código de Segurança e o nome do vendedor acima antes de sair desta página. </strong> Sem ele não é possivel fazer a retirada do seu pedido.
    </p>
  </div>

  <h2 class="text-xl font-bold mb-6 flex items-center gap-2" style="color: #5d8c1a;">
    <i class="pi pi-shopping-bag" style="color: #ffb524;"></i> Histórico de Pedidos
  </h2>

  <div class="space-y-6 mb-6">
    @for(item of order; track $index) {
      <div class="bg-white rounded-xl shadow-sm border-2" style="border: 1px solid #cde6a5" >
        
        <div class="px-6 py-4 border-b flex flex-wrap justify-between items-center gap-4" 
             style="background-color: rgba(205, 230, 165, 0.2); border-color: #cde6a5;">
          
          <div class="flex gap-6 text-sm px">
            <div class="pl-6">
              <p class="text-slate-500 text-[10px] font-bold uppercase">Data de Retirada</p>
              <p class="font-semibold text-slate-700">{{ today | date}}</p> 
            </div>
            <div>
              <p class="text-slate-500 text-[10px] font-bold uppercase">Total</p>
              <p class="font-bold text-lg" style="color: #7bb025;">{{item.total | currency: 'BRL'}}</p>
            </div>
          </div>

          <div class="px-3 py-1 font-bold text-[15px] pr-6">
               <p style="border-color: #ffb524; color: #d3961d;">
                 {{item.listOrderItens.length > 1 ? `${item.listOrderItens.length} ITENS` : `${item.listOrderItens.length} ITEM`}}

               </p>
              </div>
        </div>

        <div class="divide-y divide-slate-100">
          @for (itemOrder of item.listOrderItens; track $index) {
            <div class="p-6 flex items-center gap-6 hover:bg-slate-50 transition-colors">
              <div class="w-20 h-20 bg-white rounded-lg border-2 p-2 flex-shrink-0" style="border-color: #cde6a5;">
                <img [src]="'http://localhost:5000'+itemOrder.image" class="w-full h-full object-contain">
              </div>
              
              <div class="flex-1">
                <h4 class="text-sm font-bold text-slate-800">{{itemOrder.name}}</h4>
                <p class="text-[10px] font-bold uppercase tracking-wider text-slate-400">Vendedor: {{itemOrder.sellerName}}</p>
                <p class="text-xs mt-1 text-slate-600 font-medium">Qtd: {{itemOrder.quantity}}</p>
              </div>

              <div class="text-right">
                <p class="text-sm font-black" style="color: #5d8c1a;">{{itemOrder.totalPrice | currency: 'BRL'}}</p>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</section>

<p-dialog
    [(visible)]="showDialogConfirm"
    [style]="{ width: '95vw', maxWidth: '600px' }"
    header="Reserva Confirmada!"
    [modal]="true"
    [closable]="true"
    (onHide)="showDialogConfirm = false"
  >
  <div class="text-center pb-5">
    
    <div class="lg:col justify-center items-center pt-10 flex">
      <div class="p-4">
        <div class="text-center mb-6">
          <div class="inline-flex items-center justify-center w-16 h-16 bg-green-100 rounded-full mb-4">
            <i class="pi pi-check-circle text-green-600 text-3xl"></i>
          </div>
          <h2 class="text-2xl font-bold text-gray-800">Reserva Confirmada!</h2>
          <p class="text-gray-500">Aqui você consegue verifcar seus dados de reserva.</p>
        </div>

      </div>
    </div>
  </div>

    <ng-template pTemplate="footer">
      <p-button class="btn-outline-green" type="button" label="Ok!" (click)="showDialogConfirm = false"></p-button>
    </ng-template>
  </p-dialog>
