@use '../../../styles.scss' as *;
section{

  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  height: 2.8rem;
  padding: 0.75rem;
  color: #374151 !important;
}

h1 {
  @include roboto-bold;
  color: #ffb524;
}
.green-text{
  @include roboto-bold;
  color: #81c408 !important;
}

input::placeholder {
  color: #555a64 !important; 
}

.messageStyle{
  -webkit-box-shadow: 2px 6px 27px 4px rgba(0,0,0,0.19); 
  box-shadow: 2px 6px 27px 4px rgba(0,0,0,0.19);
}

button[type="button"] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

button[type="button"]:hover {
  text-decoration: none;
}

.text-center{
  text-align: center;
}


::ng-deep .btn-green .p-button {
  @include green-button;
  width: 100% !important;
}


::ng-deep .btn-green-continue .p-button {
  @include green-button;
}

::ng-deep .btn-outline-green .p-button {
  @include green-outline-button;
}

::ng-deep .btn-outline-orange .p-button {
  @include orange-outline-button;
  width: 100% !important;
}

::ng-deep .btn-btnplus .p-button {
  color: #93c732;
  &:focus {
    outline: none;
    border: 1px solid trna !important; 
    box-shadow: 0 0 0 0 transparent;
  }
  &:hover{
    color: #5d8c1a;
  }
}
::ng-deep .btn-btnminus .p-button {
  color: #dd0505;
  &:focus {
    outline: none;
    border: 1px solid trna !important; 
    box-shadow: 0 0 0 0 transparent;
  }
  &:hover{
    color: #ff0000;
  }
}

// .custom_bar {
//   display: block;
// }

aside{
  padding-top: 3rem;
}

h2{
  @include roboto-medium;
  color: #45595b;
}

span{
  @include roboto-regular;
  color: #78838c;
}

h5{
  @include roboto-medium;
  color: #45595b;
}


::ng-deep .btn-custom .p-button {
  @include orange-button
}

::ng-deep .p-button .map {
  @include orange-button;
  width: 10rem !important;
}

::ng-deep .btn-custom-outline .p-button {
 @include orange-outline-button;
}

.section-2{
  width: 20%;
}

section.flex.flex-col.p-4.gap-4.w-full.bg-primary\/70.rounded-xl.ng-star-inserted {
  background: #93c732
}

@media screen and (min-width: 1272px) {

  // .custom_bar {
  //   display: flex;
  // }

  .section-2{
    width: 20%;
  }

  aside{
    // display: block;
    padding-top: 0;
  }
}

