<main class="flex flex-row lgcol bg-gray-100 p-6 overflow-y-auto w-full gap-6">

  <section class="flex-1 lg:w-[70%] space-y-6">

    <section class="flex flex-col md:flex-row gap-4 mb-6">
      <div class="bg-white p-6 rounded-lg shadow w-full md:w-1/4">
        <h3 class="text-lg font-medium mb-2">Lucro Anual</h3>
        <p class="text-gray-600 font-bold text-xl mb-4">{{(summary?.totalProfit)?? 0 | currency: 'BRL' }}</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow w-full md:w-1/4">
        <h3 class="text-lg font-medium mb-2">Reservas Pendentes</h3>
        <p class="text-gray-600 font-bold text-xl mb-4">{{(summary?.pendingReservations)?? 0}}</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow w-full md:w-1/4">
        <h3 class="text-lg font-medium mb-2">Reservas concluídas</h3>
        <p class="text-gray-600 font-bold text-xl mb-4">{{(summary?.finishedReservations) ?? 0}}</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow w-full md:w-1/4">
        <h3 class="text-lg font-medium mb-2">Reservas não concluídas</h3>
        <p class="text-gray-600 font-bold text-xl mb-4">{{((summary?.expiredReservations )?? 0) + ((summary?.canceledReservations) ?? 0)}}</p>
      </div>
    </section>

    <section class="bg-white p-6 rounded-lg shadow mb-6 overflow-x-auto">
      <h3 class="text-lg font-medium mb-4">Report Anual de vendas</h3>
      <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />

    </section>

    <section class="bg-white p-6 rounded-lg shadow mb-6 overflow-x-auto">
      <h3 class="text-lg font-medium mb-4">pedidos mais recentes</h3>
      <table class="min-w-[900px] w-full text-left border-collapse" >
        <thead>
          <tr class="bg-gray-200">
            <th class="p-2 border">Nome do Cliente</th>
            <th class="p-2 border">Quantidade de itens</th>
            <th class="p-2 border">Status da reserva</th>
            <th class="p-2 border">Preço</th>
            <th class="p-2 border">Dia de retirada</th>
          </tr>
        </thead>
        <tbody>
          @for (item of recentReservations; track $index) {
            <tr>
                <td class="p-2 border">{{item.customerName}}</td>
                <td class="p-2 border">{{item.itemsCount}}</td>
                <td class="p-2 border">{{item.orderStatus}}</td>
              <td class="p-2 border">{{item.totalValue | currency: 'BRL' }}</td>
                <td class="p-2 border">{{item.pickUpDate | date: 'dd/MM/yyyy' }} - {{item.pickupDeadline | date: 'dd/MM/yyyy'}}</td>
            </tr>
          } 
        </tbody>
      </table>

    </section>
  </section>

  <aside class="flex-1 lg:w-[30%] space-y-6">

    <div class="flex flex-col gap-4">
      <section class="bg-white p-6 rounded-lg shadow">
        <h3 class="text-lg font-medium mb-4">Buscar reservas</h3>
        <div class="flex flex-col md:flex-row items-center gap-4">
          <div class="flex flex-col md:flex-row items-center gap-4">
            <p-inputotp [(ngModel)]="securityCode" [length]="4" />
          </div>
          <p-button label="Buscar Reserva" icon="pi pi-search" severity="success" class="w-full md:w-auto"
            (onClick)="navigateToOrderReservation()" />

        </div>
      </section>

      <section class="bg-white p-6 rounded-lg shadow">
        <h3 class="text-lg font-medium mb-4">Vendas Mensal</h3>
        <div class="card">
          <p-chart type="bar" [data]="dataSeller" [options]="optionsSeller" class="h-[30rem]" />
        </div>
      </section>


    </div>
  </aside>

</main>