@if(loading){
    <div class="w-full bg-red-500 absolute loading">
        <p-progress-spinner ariaLabel="loading" />
    </div>
}

@if(toast){
    <p-toast position="top-center" key="confirm" [baseZIndex]="50000">
        <ng-template let-message #headless let-closeFn="closeFn">
            <section class="flex flex-col p-4 gap-4 w-full bg-primary/70 rounded-xl" [style.background-color]="toast.color">
                <div class="flex items-center gap-5">
                    <i [ngClass]="toast.icon" class="text-white dark:text-white text-2xl"></i>
                    <span class="font-bold text-base text-white dark:text-white">{{ toast.message }}</span>
                </div>
            </section>
        </ng-template>
    </p-toast>
}

<router-outlet />