<section>
  <section class="container mx-auto px-4 py-10" >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8" >

      <!-- Área principal (Imagem + Detalhes) -->
      <div class="lg:col-span-3 space-y-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="border rounded-lg overflow-hidden h-[25rem]">
            <a href="#">
              <img [src]="productSelected?.image" alt="Image" class="w-full h-auto object-cover">
            </a>
          </div>
          <div class="space-y-4">
            <h4 class="text-2xl font-bold">{{productSelected?.name}}</h4>
            <p class="text-gray-600 ">Categoria: {{productSelected?.productType?? 4 | productType}}</p>
            <!-- <h5 class="text-xl font-semibold leading-tight">{{productSelected?.unitPrice | currency: 'BRL' }}</h5> -->
            <p class="text-gray-700">{{productSelected?.shortDescription}}</p>
            <p class="text-gray-700">
              {{productSelected?.largeDescription}}
            </p>
            <!-- <div class="flex items-center space-x-2 pb-6">
              <p-button class="btn-btnplus" icon="pi pi-minus" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="removeItem()" />
              <input type="text" class="w-12 text-center border-transparent" [value]="quantity">
              <p-button class="btn-btnplus" icon="pi pi-plus" [rounded]="true" [outlined]="true" severity="secondary" (onClick)="addItem()" />
            </div> -->
            <!-- <p-message severity="error" [text]="errorMessage" styleClass="mt-1" [ngClass]="errorMessage == '' ? 'hidden': ''"></p-message> -->
            <!-- <div class="pt-10">
              <p-button class type="button" label="Adicionar ao carrinho" severity="success" variant="outlined" [rounded]="true" 
              class="btn-customOutline text-white text-lg font-medium rounded-lg transition duration-200 pt-80" (onClick)="navigateToCart()"/> 
            </div> -->
          </div>
        </div>

        <!-- Tabs de Descrição / Reviews -->
        <div>
          <div class="border-b mb-4">
            <ul class="flex space-x-4">
              <li><button class="pb-2 border-b-2 border-primary">Descrição</button></li>
              <!-- <li><button class="pb-2 text-gray-500 hover:text-gray-700">Reviews</button></li> -->
            </ul>
          </div>
          <div>
            <!-- Conteúdo da aba -->
            <div>
              <div class="grid grid-cols-2 md:grid-cols-1 gap-2">
                <div class="flex justify-between bg-gray-100 p-2">
                  <span>Peso</span>
                  <span>{{productSelected?.weight}}</span>
                </div>
                <div class="flex justify-between bg-gray-50 p-2">
                  <span>Tipo</span>
                  <span>{{productSelected?.productType?? 5 | productType}}</span>
                </div>
                <div class="flex justify-between bg-gray-100 p-2">
                  <span>Qualidade</span>
                  <span>Agroecológico</span>
                </div>
                <div class="flex justify-between bg-gray-50 p-2">
                  <span>Prazo aproximado de conservação</span>
                  <span>{{productSelected?.conservationDays}}</span>
                </div>
                <!-- Continue com outros itens -->
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Sidebar -->
      <aside class="lg:col-span-1 space-y-4 pt-12 ">
          
        <div class=" rounded-lg shadow-md ">
          <section  
            class="flex flex-col w-full rounded-md bg-slate-100 self-start desktop:rounded-md desktop:shadow-lg desktop:p-5" 
            aria-label="Resumo">
            <!-- Título -->
            <div class="desktop:flex desktop:items-center mb-2">
              <h1 class="text-base font-bold uppercase ml-2 text-black-800 pt-5">Resumo</h1>
            </div>
            <!-- Valor dos Produtos -->
            <div class="text-sm flex justify-between items-center text-black-700 bg-slate-100 py-3 px-1 border-b border-black-100 w-5/6">
              <span>Valor dos Produtos:</span>
              <b class="text-sm text-right leading-tight text-black-800">{{productSelected?.unitPrice | currency: 'BRL' }}</b>
            </div>

            <!-- Serviços Adicionais -->
            <div class="text-sm flex justify-between items-center text-black-700 bg-slate-100 py-3 px-1 border-b border-black-100 w-5/6">
              <span>Nome do vendedor:</span>
              <b class="text-sm text-right leading-tight text-black-800">{{productSelected?.seller?.name}}</b>
            </div>

            <!-- Local de Retirada -->
            <div class="text-sm flex justify-center text-black-700 bg-slate-100 py-3 px-1 border-b border-black-100 text-center" id="localDeRetiro">
              <div>
                <span class="block font-medium">Local de Retirada:</span>
                <div class="text-black-800 text-sm leading-tight">
                  {{productSelected?.seller?.pickupLocation?.city}} - {{productSelected?.seller?.pickupLocation?.state}}, 
                  {{productSelected?.seller?.pickupLocation?.number}}, {{productSelected?.seller?.pickupLocation?.street}}
                  <!-- Horta tal - Rua dos bobos, 0, vila Pinho - BH -->
                </div>
              </div>
            </div>

            <!-- Valor total -->
            <section class=" bg-orange-100 text-green-600 px-1 py-2 mt-4 mb-2 rounded w-full" aria-labelledby="pix">
              <div class="flex justify-center">
                <span class="flex flex-col gap-1 text-sm pl-4">
                  Produto sujeito a taxa de reserva
                </span>
                <span class="text-sm pl-28 text-black pr-4 cursor-custom" (click)="openAndCloseDialog()">Saiba mais</span>
              </div>
            </section>
            <!-- <section class=" bg-orange-100 text-green-600 px-1 py-2 mt-4 mb-2 rounded w-full" aria-labelledby="pix">
              <div class="flex justify-center">
                <span class="flex flex-col gap-1 text-sm pl-4">
                  Produto sujeito a taxa de reserva
                </span>
                <span class="text-sm pl-28 text-black pr-4 cursor-custom">Saiba mais</span>
              </div>
            </section> -->

          </section>
        </div>


        <div class="rounded-lg shadow-md flex flex-col items-center  bg-slate-100">
          <p-button
            class="btn-green flex items-center pb-4 pt-4  text-white font-medium rounded-lg transition duration-200"
            label="Reservar agora" (onClick)="navigateToCart()">
              
          </p-button>
          <p-button
            class="btn-outline-orange flex items-center pb-4 text-white font-medium rounded-lg transition duration-200"
            [label]="!hasCartItens ? 'Adicionar ao carrinho' : 'Remover item do carrinho'"
            (onClick)="addToCart()">
          </p-button>
        </div>
      </aside>

      <div class="lg:col-span-4 space-y-6">
        <div class="border-b border-lime-500 pt-4">
        </div>
        <div class="flex items-center justify-center">
          <h1 class="text-lg">Sugestões</h1>
        </div>

        <!-- Lista Horizontal -->
        <div #scrollContainer [class]="'flex overflow-x-auto space-x-4 scroll-smooth py-4'">
          @for (item of productsSugestion; track $index) {
            <div class="w-72 flex-shrink-0">

              <app-cards [name]="item.name" [description]="item.name" [image]="item.image"
              [unitValue]="item.unitPrice" (cardClick)="navigateToDetail(item.id)">
            </app-cards>
          </div>
          }
        </div>

      </div>
    </div>
  </section>

  <p-dialog
    [(visible)]="showDialog"
    [style]="{ width: '95vw', maxWidth: '600px' }"
    header="Taxa de reserva de 10%"
    [modal]="true"
    [closable]="true"
  >
    <div class="p-dialog-content">
      <p>
        Como nossos produtos são <strong>livres de agrotóxicos</strong> e colhidos sob demanda,
        solicitamos uma <strong>taxa de reserva</strong> como garantia. Esse valor será
        <strong>deduzido do total no momento da retirada</strong>.
      </p>

      <p>
        Em caso de <strong>não comparecimento</strong>, a taxa <strong>não será reembolsada</strong>,
        pois os alimentos são perecíveis e não podem ser estocados.
      </p>
    </div>

    <ng-template pTemplate="footer">
     <p-button class="btn-green custom" type="button" label="Entendi" icon="pi pi-check" (click)="showDialog = false"></p-button>
    </ng-template>
  </p-dialog>

  <p-toast position="top-center" key="confirm" [baseZIndex]="5000">
    <ng-template let-message #headless let-closeFn="closeFn">
        <section class="flex flex-col p-4 gap-4 w-full bg-primary/70 rounded-xl">
            <div class="flex items-center gap-5">
                <i class="pi pi-shopping-bag text-white dark:text-white text-2xl"></i>
                <span class="font-bold text-base text-white dark:text-white">{{ message.summary }}</span>
            </div>
        </section>
    </ng-template>
</p-toast>

</section>

