@use '../../../styles.scss' as *;
section{
  // background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  height: 2.8rem;
  padding: 0.75rem;
  color: #374151;
}

h1 {
  @include roboto-bold;
  color: #81c408;
}

input::placeholder {
  color: #555a64; 
}


:host {
  display: block;
}

.ng-invalid.ng-touched {
  border-color: #ef4444;
}

::ng-deep {
  .p-password {
    width: 100%;
    
    .p-password-input {
      width: 100%;
    }
  }

  .p-button {
    &.w-full {
      width: 100%;
    }
  }

  .p-message {
    margin-top: 0.25rem;
    
    .p-message-wrapper {
      padding: 0.5rem 0.75rem;
    }
  }
}

button[type="button"] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

button[type="button"]:hover {
  text-decoration: none;
}

.text-center{
  text-align: center;
}

::ng-deep .btn-green .p-button {
  @include green-button;
}

::ng-deep .btn-outline-orange .p-button {
  @include orange-outline-button;
}

::ng-deep .custom  .p-button{
  width: 100% !important;
}

.cursor-custom{
  cursor: pointer;
}

.border-primary[_ngcontent-ng-c1208923924] {
  border-color: #93c732;
}

section.flex.flex-col.p-4.gap-4.w-full.bg-primary\/70.rounded-xl.ng-star-inserted {
    background: #ffb524
}