@use '../../../styles.scss' as *;
section{
  // background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  height: 2.8rem;
  padding: 0.75rem;
  color: #374151 !important;
}

h1 {
  @include roboto-bold;
  color: #ffb524;
}

input::placeholder {
  color: #555a64 !important; 
}


:host {
  display: block;
}

.ng-invalid.ng-touched {
  border-color: #ef4444 !important;
}

::ng-deep {
  .p-password {
    width: 100%;
    
    .p-password-input {
      width: 100%;
    }
  }

  .p-button {
    &.w-full {
      width: 100%;
    }
  }

  .p-message {
    margin-top: 0.25rem;
    
    .p-message-wrapper {
      padding: 0.5rem 0.75rem;
    }
  }
}

button[type="button"] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

button[type="button"]:hover {
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.btnCustom {
  background-color: #93c732 !important;
  border-color: #93c732 !important;
  color: #fff !important;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: #7bb025 !important;
    border-color: #7bb025 !important;
    color: #fff !important;
  }

  &:focus, &:focus-visible {
    background-color: #6e9f1e !important;
    border-color: #6e9f1e !important;
    box-shadow: 0 0 0 0.25rem rgba(147, 199, 50, 0.5) !important;
    color: #fff !important;
  }

  &:active {
    background-color: #5d8c1a !important;
    border-color: #5d8c1a !important;
    color: #fff !important;
  }

  &:disabled,
  &.disabled {
    background-color: #cde6a5 !important;
    border-color: #cde6a5 !important;
    color: #f8f9fa !important;
    cursor: not-allowed;
    opacity: 0.65;
  }
}

::ng-deep .btn-btnplus .p-button {
    color: #93c732;
    &:focus {
    outline: none;
    border: 1px solid #afafaf !important; 
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  }
  &:hover{
    color: #5d8c1a;
  }
}
::ng-deep .btn-btnminus .p-button {
    color: #dd0505;
    &:focus {
    outline: none;
    border: 1px solid #afafaf !important; 
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  }
  &:hover{
    color: #ff0000;
  }
}

::ng-deep .btn-customOutline .p-button {
  background-color: transparent !important;
  color: #81c408;
  border: 1px solid #ffb524 !important;

  &:hover {
    background-color: transparent !important;
    color: #80a046;
    border: 1px solid #80a046 !important;
  }

  &:active {
    border: 1px solid #80a046 !important;
  }

  &:focus {
    outline: none;
    border: 1px solid #80a046 !important; 
    box-shadow: 0 0 0 2px rgba(128, 160, 70, 0.3);
  }
}

.custom_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside{
  display: none;
}

.card-custom{
  width: 19rem;
  height: 27rem;
  border: none;
  transition:all 0.1s ease-in-out 0s;
  border-radius: 10px 10px 10px 10px;

  &:hover{
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
  }

  .item-image{
      overflow: hidden;
      transition: 0.5s;
      border-radius: 10px 10px 0 0;

    img{
      transition: 0.5s;

      &:hover{
        transform: scale(1.3);
      }
    }
  }

  .card-custom-header{
     height: 7rem;
  }
  .card-custom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }


}

h2{
  @include roboto-medium;
  color: #45595b;
}
span{
  @include roboto-regular;
  color: #78838c;
}
h5{
  @include roboto-medium;
  color: #45595b;
}
.card-border-custom{
  border-left: 2px solid #ffb524;
  border-right: 2px solid #ffb524;
  border-bottom: 2px solid #ffb524;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  height: 12rem;
}


.card-img-top{
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  object-fit: scale-down;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 100px 0 0;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px 100px 0 0;
    }
}

::ng-deep .btn-custom .p-button {
  background-color: #ffb524;
  color: white;
  border: 1px solid #ffb524;
  width: 20rem;

  &:hover {
    background-color: #d3961d;
    border: 1px solid #d3961d;
  }
}
::ng-deep .btn-custom-outline .p-button {
  background-color: #f1f5f9;
  color: #ffb524;
  border: 1px solid #ffb524;
  width: 20rem;

  &:hover {
    background-color: rgba(255, 208, 115, 0.534);
    border: 1px solid #d3961d;
  }
    &:active {
    border: 1px solid #d3961d !important;
  }

  &:focus {
    outline: none;
    border: 1px solid #d3961d !important; 
    box-shadow: 0 0 0 2px  rgba(255, 208, 115, 0.534);
  }
}


@media screen and (min-width: 1272px) {
  .custom_bar {
    display: none;
  }
  aside{
    display: block;
  }
}

