@if(hasCart){
<section class="container mx-auto px-4 py-10">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

    <!-- Área principal -->
    <div [ngClass]="loading ? 'hidden' : ''" class="lg:col-span-2 space-y-6">

      <section class="w-full p-6 bg-white  border border-slate-200 rounded-lg shadow-md flex flex-col gap-6">
        @for (item of order?.listOrderItens; track $index) {

        <!-- Produto -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 border-b-2 last:border-b-0">
          <div class="border-transparent rounded-lg overflow-hidden h-[20rem] col-span-1 ">
            <img [src]="item.image" alt="Produto" class="w-full h-full object-contain rounded-md">
          </div>

          <!-- Informações do produto -->
          <div class="flex sm:w-full w-3/5 gap-5 flex-col align-middle pb-9 col-span-2 ">
            <span class="text-sm md:text-base text-gray-600">{{ item.sellerName }}</span>
            <a href="#" class="text-lg md:text-xl font-semibold text-black hover:underline break-words">
              {{ item.name }}
            </a>

            <div class="text-xs md:text-sm text-gray-700 w-3/4 ">
              <p>Produto sujeito a taxa de reserva</p>
              <p>
                Valor do produto:
                <strong>{{ item.unitPrice | currency: 'BRL' }}</strong>
              </p>
            </div>
            <!-- Quantidade e preço -->
            <div class="grid grid-cols-2 md:grid-cols-3 gap-2">

              <!-- Controle de quantidade -->
              <div class="flex items-center lg:col-span-2">
                <p-button [ngClass]="item.quantity == 1 ? 'btn-btnminus' : 'btn-btnplus'" class="btn-btnplus" link
                  [icon]="item.quantity == 1 ? 'pi pi-trash' : 'pi pi-minus'" (onClick)="removeItem($index)"></p-button>

                <p class="text-base md:text-lg font-medium w-6 text-center">{{ item.quantity }}</p>

                <p-button class="btn-btnplus text-lg md:text-base" link icon="pi pi-plus" (onClick)="addItem($index)"></p-button>
              </div>

              <!-- Preço total -->
              <div class="text-right lg:col-span-1 sm:pl-12">
                <p class="text-xs text-gray-600">Preço total do produto</p>
                <p class="text-lg md:text-xl font-bold text-secondary-500 pt-1">
                  {{ item.totalPrice | currency: 'BRL' }}
                </p>
              </div>
            </div>
          </div>

        </div>
        }
      </section>
    </div>

    <!-- Sidebar -->
    <aside [ngClass]="loading ? 'hidden' : ''" class="lg:col-span-1 space-y-4 ">
      <div class="rounded-lg shadow-md">
        <section
          class="flex flex-col w-full rounded-md bg-white  border border-slate-200 self-start desktop:rounded-md desktop:shadow-lg desktop:p-5 text-center"
          aria-label="Resumo">
          <!-- Título -->
          <div class="desktop:flex desktop:items-center mb-2">
            <h1 class="text-base font-bold uppercase ml-2 text-black-800 pt-5 green-text">Resumo</h1>
          </div>

          <!-- Valor dos Produtos -->
          <div
            class="text-sm flex justify-between items-center text-black-700 bg-white  border border-slate-200 py-3 px-1 border-b border-black-100 w-5/6">
            <span>Valor dos Produtos:</span>
            <b class="text-sm text-right leading-tight text-black-800">{{order?.total | currency: 'BRL'}}</b>
          </div>

          <!-- Serviços Adicionais -->
          <div
            class="text-sm flex justify-between items-center text-black-700 bg-white   py-3 px-1 border-b border-black-100 w-5/6">
            <span>Taxa de reserva:</span>
            <b class="text-sm text-right leading-tight text-black-800">{{order?.fee | currency: 'BRL'}}</b>
          </div>

          <!-- Local de Retirada -->
          <div
            class="text-sm flex justify-center text-black-700 bg-white  py-3 px-1 border-b border-black-100 text-center"
            id="localDeRetiro">
            <div>
              <span class="block font-medium">Local de Retirada:</span>
              <div class="text-black-800 text-sm leading-tight">
                Horta tal - Rua dos bobos, 0, vila Pinho - BH
              </div>
            </div>
          </div>

          <!-- Valor total -->
          <section class=" bg-orange-100 text-green-600 px-1 py-2 mt-4 mb-2 rounded w-full" aria-labelledby="pix">
            <div class="flex justify-between">
              <span class="flex flex-col gap-1 text-sm text-green-600 pl-4">
                Valor com a taxa de reserva:
              </span>
              <div class="flex flex-col items-end">
                <span class="text-sm font-bold pl-28">{{this.totalTemporario | currency: 'BRL'}}</span>
              </div>
            </div>
          </section>

          
        </section>
      </div>

      <div class="rounded-lg shadow-md flex flex-col items-center bg-white  border border-slate-200">
        <p-button
          class="btn-green-continue flex items-center pb-4 pt-4 text-white font-medium rounded-lg transition duration-200" (click)="navigateToAddress()">
          Continuar
        </p-button>
        <p-button
          class="btn-custom-outline flex items-center pb-4 text-white font-medium rounded-lg transition duration-200"
          (click)="navigateToProducts()">
          Voltar
        </p-button>
      </div>
    </aside>

  </div>

</section>
}
@else{
<section class="h-[25rem]">
  <h1 class="text-3xl">
    O seu carrinho está vazio.
  </h1>
</section>
}

<p-dialog [(visible)]="showDialog" [style]="{ width: '95vw', maxWidth: '600px' }"
  header="Confirmar remoção do item do carrinho" [modal]="true" [closable]="true">
  <div class="p-dialog-content">
    <p>
      Você tem certeza que deseja remover este item do carrinho?
    </p>
  </div>

  <ng-template pTemplate="footer">
    <p-button class="btn-outline-orange" type="button" label="Cancelar" icon="pi pi-times"
      (click)="closeConfirmDialog()"></p-button>
    <p-button class="btn-green custom" type="button" label="Confirmar" icon="pi pi-check"
      (click)="confirmRemoveItem(this.order!.listOrderItens, selectedProductId)"></p-button>
  </ng-template>
</p-dialog>