@use "sass:map";
@use "sass:color";
@use "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "tailwindcss-primeui";


input {
  width: 100%;
  height: 2.8rem;
  padding: 0.75rem;
  color: #374151 !important;
}



  @mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @mixin roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

  @mixin roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

  @mixin roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  @mixin roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

  @mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

  @mixin roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

  @mixin roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

  @mixin roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

  @mixin roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

  @mixin roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

  @mixin roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

  @mixin roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@mixin green-button  {
  background-color: #93c732;
  border-color: #93c732;
  color: #fff;
  width: 20rem;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: #7bb025;
    border-color: #7bb025;
    color: #fff;
  }

  &:focus, &:focus-visible {
    background-color: #6e9f1e;
    border-color: #6e9f1e;
    box-shadow: 0 0 0 0.25rem rgba(147, 199, 50, 0.5);
    color: #fff;
  }

  &:active {
    background-color: #5d8c1a;
    border-color: #5d8c1a;
    color: #fff;
  }

  &:disabled,
  &.disabled {
    background-color: #cde6a5;
    border-color: #cde6a5;
    color: #f8f9fa;
    cursor: not-allowed;
    opacity: 0.65;
  }
}

@mixin orange-button{
  
  background-color: #ffb524;
  color: white;
  width: 20rem;
  border: 1px solid #ffb524;

  &:hover {
    background-color: #d3961d;
    border: 1px solid #d3961d;
  }
    &:active {
    border: 1px solid #d3961d !important;
  }

  &:focus {
    outline: none;
    border: 1px solid #d3961d !important; 
    box-shadow: 0 0 0 2px  rgba(255, 208, 115, 0.534);
  }

}

@mixin orange-outline-button{
  
  background-color: transparent;
  color: #ffb524;
  width: 20rem;
  border: 1px solid #ffb524;

  &:hover {
    background-color: rgba(255, 208, 115, 0.534);
    border: 1px solid #d3961d;
  }
    &:active {
    border: 1px solid #d3961d !important;
  }

  &:focus {
    outline: none;
    border: 1px solid #d3961d !important; 
    box-shadow: 0 0 0 2px  rgba(255, 208, 115, 0.534);
  }

}

@mixin green-outline-button{
  background-color: transparent;
  color: #93c732;
  width: 20rem;
  border: 1px solid #93c732;

  &:hover {
    background-color: #9cc061;
    border: 1px solid #5d8c1a;
  }
    &:active {
    border: 1px solid #5d8c1a !important;
  }

  &:focus {
    outline: none;
    border: 1px solid #6e9f1e !important; 
    box-shadow: 0 0 0 0.25rem rgba(147, 199, 50, 0.5);
  }

}



  html{
    font-weight: 60.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
  }
  body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    input {
      border: 1px solid #c9c9c9 !important
    }

    input::placeholder {
      color: #555a64 !important; 
    }
  }
