<div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col w-full max-w-sm">
  <!-- Imagem do produto -->
  <div [class]="`w-full overflow-hidden ${HeightCard}`" >
    <img 
      [src]="image" 
      alt="Imagem do produto"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Corpo do card -->
  <div class="flex flex-col justify-between h-full px-5 py-4">
    <!-- Header do card -->
    <div class="mb-4">
      <h5 class="text-xl font-semibold ">{{name}}</h5>
      <span class="text-gray-600 text-sm">{{description}}</span>
    </div>

    <!-- Footer do card -->
    <div class="flex items-center justify-between mt-auto">
      <h5 class="text-base font-bold">{{unitValue  | currency: 'BRL' }}</h5>
      <p-button (onClick)="onClick()"
        class="btn-custom flex items-center gap-2 pl-3 text-white font-medium rounded-lg transition duration-200">
        <i class="pi pi-shopping-cart"></i>
        Comprar
      </p-button>
    </div>
  </div>
</div>
